.product-form {
  width: 20rem;
  max-width: 90%;
  margin: auto;
  display: block;
}

.product-item {
  width: 20rem;
  max-width: 95%;
  margin: 1rem;
}

.product__title {
  font-size: 1.2rem;
  text-align: center;
}

.product__price {
  text-align: center;
  color: #4d4d4d;
  margin-bottom: 0.5rem;
}

.product__description {
  text-align: center;
}

.product-details__img-container {
    margin: 0 auto;
    overflow: hidden;
  }
  .product-details__img-container img {
    width: 90%;
    height: 15%;
  }

@media (min-width: 768px) {
  .product-details__img-container img {
    width: 60%;
    height: 7%;
  }
}

@media (min-width: 1170px) {
  .product-details__img-container img {
    width: 50%;
    height: 7%;
  }
}